<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Make Cents - Leaderboard</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/flatly/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/ranking-style.css">
</head>
<body>
  <div class="container">
  <div class="row">
      <div class="col-sm-12">
        <br>
        <div class="panel panel-primary">
          <!-- This will hold the users box -->
          <div class="text-center panel-heading">
            <h3 class="panel-title"><strong>Leaderboard</strong></h3>   
          </div>
          <!-- This panel is where users will be displayed -->
          <div class="panel-body" id="well-storage">
            {{#each users}}
              <button class="btn btn-warning btn-md">{{this.id}}. {{this.name}}, {{this.email}}, {{this.phoneNumber}}</button>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>  
</body>
</html>